<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ConnStrStore_2"
			 connectionString="Data Source=FATBOY\SQLEXPRESS;
			 Initial Catalog=Store_2;
			 Integrated Security=SSPI;"/>
	</connectionStrings>
</configuration>